.posts{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    height: 100px;
    width: 600px;
    justify-content: center;
}

.favorites-container {
  justify-content: center;
  align-items: center;
  
}

.delete-like-btn{
  background-color: white;
}