.posts{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-bottom: 100px;
    /* height: 100px; */
    width: 600px;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}