body {
    font-family: 'Roboto', sans-serif;
}

.individual-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    border: solid black;
    border-radius: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    padding-left: 35%;

}

.post-cuisine {
    border: solid rgba(0, 0, 0, 0.795);
    margin-right: 100%;
    padding-left: 5px;
    padding-right: 5px;

}

.search-term {
    border: solid rgba(0, 0, 0, 0.911);
    border-radius: 5px;
}

.alltopics-dropdown {
    border: solid black;
    border-radius: 5px;
    margin-bottom: 4px;
}

.post-description {
    border: solid rgba(0, 0, 0, 0.795);
    margin-top: 10px;

}

.postdetails-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.like-btn {
    border: solid black;
    text-align: center;
    margin-top: 2%;
}

.postdetails-body {

    margin-top: 15px;
}

.text-center {
    font-weight: bold;
}

.postdetails-cuisine {
    border: solid;
    text-align: center;
    margin-bottom: 2%;
}

.details {
    border: solid;
}

.postdetails-author {
    margin-top: 2%;
}

.editpost-btn {
    border: solid black;
    text-align: center;
    margin-top: 1%;
}

.allposts-title {
    font-weight: bold;
}

.border {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}


.posts-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    margin-top: 65px;
    max-width: 2500px;
}

.myprofile {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-self: center;
    max-width: 500px;
    margin-top: 25px;
}

.editpost {
    border:solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
